{{!-- need a form here yall --}}

<h1>Share your recipe!</h1>
<form action="#">
    <input type="text" name="Recipe Name" placeholder="Recipe Name" id="name">
    <input type="text" name="Ingredients Needed" placeholder="Ingredients Needed" id="ingredients">
    <input type="text" name="Directions" placeholder="Directions" id="directions">
    <input type="email" name="Email Address" placeholder="Email Address" id="emailAddress">
    <input type="name" name="Your Name" placeholder="Your Name" id="rourName">
    <input type="submit" value="submit">
</form>

{{!-- <section class="form-container">
  <h4>New Tweet</h4>
  <form action="/newRecipe" method="post" class="recipe-form">
    <div class="input-field">
      <textarea name="Recipe[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </div>
    <div class="">
      <select name="author" id="author">
        <option value="" disabled selected>Choose the User</option>
        {{#each users}}
          <option value="{{id}}">{{local.email}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="Tweet" class="btn">
    </div>
   </form>  --}}