<section class="row">
<h1>LETS MAKE AN ACCOUNT TO SEE SOME DANK RECIPES</h1>
<form action="/user" method="POST" class="auth-form">
<p class="input-field">
    <input type="email" name="email" placeholder="Email Address">
</p>






</form>
</section>


